<!-- <mat-tab-group mat-align-tabs="center" animationDuration="2000ms">
  <mat-tab label="Poland">
    <app-main-site-article-list>

    </app-main-site-article-list>
  </mat-tab>
  <mat-tab label="Europe">
    <app-main-site-article-list>

    </app-main-site-article-list>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet> -->

<nav mat-tab-nav-bar mat-align-tabs="center">
  <a
    mat-tab-link
    routerLink="/"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    Europe
  </a>
  <a
    mat-tab-link
    routerLink="/article/1"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    Poland
  </a>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
