$font-color: white;
$font-active-color: grey;

mat-toolbar {
  a {
    text-decoration: none;
    color: $font-color;
    &:hover,
    &:active {
      color: $font-active-color;
    }
  }
  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .active {
    color: $font-active-color;
  }
  .logo-header {
    height: 80%;
    width: auto;
    background: url("./../../../assets/bicycle-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
