$font-color: white;
$font-active-color: lightgrey;

mat-toolbar {
  a {
    text-decoration: none;
    color: $font-color;
    &:hover,
    &:active {
      color: $font-active-color;
    }
  }
  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .active {
    color: $font-active-color;
  }
}
