<mat-sidenav-container>
  <mat-sidenav mode="side" #sidenav role="navigation">
    <!-- my custom component -->
    <app-sidenav-list
      (onCloseEmitter)="sidenav.close()"
      (logoutEmitter)="onLogout()"
    ></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- here goes main conenten of site.  -->
    <app-header
      (onToggleSidenavEmitter)="sidenav.toggle()"
      (logoutEmitter)="onLogout()"
    ></app-header>
    <main>
      <!-- admin panel content -->
      <nav mat-tab-nav-bar mat-align-tabs="center">
        <a
          mat-tab-link
          *ngFor="let link of tabLinks"
          [routerLink]="link.path"
          routerLinkActive="active"
        >
          {{ link.label }}
        </a>
      </nav>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
