@import "./../../my-theme.scss";

mat-sidenav-container {
  height: 100%;
  mat-sidenav-content {
    height: 100%;
  }
  mat-sidenav {
    height: 100%;
    width: 40vw;
  }

  a {
    color: grey;
    &.active {
      color: darken($accent, 30%);
    }
  }
}
